body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
}


.topnav {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.topnav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

.topnav a.active {
    background-color: #E6A4B4;
}

.topnav a:hover {
    background-color: #C86B85;
}


.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 5px;
    border: 1px solid #F3D7CA;
}

#searchButton {
    background-color: #E6A4B4; 
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.main {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border: 1px solid #F3D7CA;
}

.name {
    text-align: right;
    padding-right: 20px;
}

h2 {
    text-align: center;
}

.button{
    color: #000000;
    margin: 20px;
    fill: #000000;
}

.button:hover{
    color: #000000;
    margin: 20px;
    fill: #000000;
}


.category-button {
    background-color: #E6A4B4;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: #E6A4B4;
}

button {
    background-color: #E6A4B4;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}

.footer {
    background-color: #000000; 
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer p {
    margin: 0;
}
